<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="icon" type="image/png" href="assets/img/favicon.png"/>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="assets/css/font-awesome-animation.min.css"/>
        <link rel="stylesheet" href="assets/css/style.css"/>
        <script src="assets/js/angular.js" type="text/javascript"></script>
        <script src="assets/js/angular-route.js" type="text/javascript"></script>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Jonathan Moroy</title>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-91910263-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body ng-app="resumeApp">
        <div id="bloc_page" class="container" ng-controller="indexCtrl">
            <header class="row">
                <img id="header_switchLangageEn" src="assets/img/uk_0.png" alt="United Kingdom Flag" title="Switch to English" ng-click="switchEnglish()"/><img id="header_switchLangageFr" src="assets/img/fr_0.png" alt="Drapeau de la France" title="Passer en Français" ng-click="switchFrench()"/>
                <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
                    <p id="header_title">Jonathan Moroy</p>
                    <div class="row">
                        <p class="col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-2" id="header_underTitle">web developer</p>
                    </div>
                </div>
                <nav class="container">
                    <p id="header_arrowTop"><a href="#!/resume"><img src="assets/img/arrow/arrowTop.png" alt="CV"/></a></p>
                    <div id="header_arrowBot">
                        <p id="header_arrowLeft"><a href="#!/contact"><img src="assets/img/arrow/arrowLeft.png" alt="Contact"/></a></p>
                        <p id="header_arrowBottom"><a href="#!/home"><img src="assets/img/arrow/arrowBottom.png" alt="Home"/></a></p>
                        <p id="header_arrowRight"><a href="#!/project"><img src="assets/img/arrow/arrowRight.png" alt="Project"/></a></p>
                    </div>
                </nav>
            </header>
            <div ng-view></div>
            <footer class="row">
                <p><span class="cursorPointer" ng-click="switchFrench()">Français <img src="assets/img/fr_0.png" alt="Langue Française"/></span> / <span class="cursorPointer" ng-click="switchEnglish()">English <img src="assets/img/uk_0.png" alt="English Language"/></span></p>
            </footer>
        </div>
        <script src="assets/js/app.js" type="text/javascript"></script>
        <script src="assets/js/script.js" type="text/javascript"></script>
        <script src="assets/js/anim.js" type="text/javascript"></script>
    </body>
</html>
