<div ng-show="french">
    <section class="row">
        <aside id="aside_cv" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p><img src="assets/img/meblack.png" class="img-responsive center-block" alt="Photo de Jonathan"></p>
            <p>Introduction</p>
            <p>Passionné depuis mon plus jeune âge par la technologie et le multimédia, j'ai tout d'abord orientées mes études vers une filiére professionnelle (la plasturgie), avant de revenir vers l'informatique, domaine qui me tient particuliérement à coeur. Actuellement en formation chez E2N je prépare un titre professionnel developpeur logiciel. Je continue à acquérir de nouvelles compétences en dehors de la formation, notamment dans le domaine du montage vidéo.</p>
        </aside>
        <article id="article_cv_infoSkill" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <ul>
                <li><i class="fa fa-birthday-cake icone_info" aria-hidden="true"></i> 16 juillet 1990</li>
                <li><i class="fa fa-home icone_info" aria-hidden="true"></i> 503 rue de la mairie, 60400 Appilly</li>
                <li><i class="fa fa-phone icone_info" aria-hidden="true"></i> 06.09.33.21.96</li>
                <li><i class="fa fa-car icone_info" aria-hidden="true"></i> Permis B et véhicule</li>
                <li><i class="fa fa-at icone_info" aria-hidden="true"></i> jonathan.moroy@gmail.com</li>
                <li><a class="faa-parent animated-hover" href="https://www.linkedin.com/in/jonathan-moroy-7aab7113a/"><i class="fa fa-linkedin faa-tada icone_info" aria-hidden="true"></i> Lien Linkedin</a></li>
                <li><a class="faa-parent animated-hover" href="https://twitter.com/Jonathan_Moroy"><i class="fa fa-twitter faa-tada icone_info" aria-hidden="true"></i> Lien Twitter</a></li>
                <li><a class="faa-parent animated-hover" href="https://github.com/JonathanMoroy"><i class="fa fa-github faa-tada icone_info" aria-hidden="true"></i> Lien Github</a></li>
            </ul>
        </article>
    </section>
</div>
<div ng-show="english">
    <section class="row">
        <aside id="aside_cv" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p><img src="assets/img/meblack.png" class="img-responsive center-block" alt="Photo de Jonathan"></p>
        </aside>
        <article id="article_cv_infoSkill" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        </article>
    </section>
</div>
